<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gtechsoftapp.com.br.job_vit_desafio.job_vitoria_desafio">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
